@import "@edx/brand/paragon/fonts.scss";
@import "@edx/brand/paragon/variables.scss";
@import "@edx/paragon/scss/core/core.scss";
@import "@edx/brand/paragon/overrides.scss";

$fa-font-path: "~font-awesome/fonts";
@import "~font-awesome/scss/font-awesome";


#post, #comment, #reply {
  img {
    height: auto;
    max-width: 100%;
  }
}

.text-staff-color {
  color: #998200;
}

.border-staff-color {
  border-color: #998200;
}

.font-size-14 {
  font-size: 14px;
}

.font-weight-500 {
  font-weight: 500;
}