@import "@edx/brand/paragon/fonts.scss";
@import "@edx/brand/paragon/variables.scss";
@import "@edx/paragon/scss/core/core.scss";
@import "@edx/brand/paragon/overrides.scss";

@import "~@edx/frontend-component-footer/dist/footer";
@import "~@edx/frontend-component-header/dist/index";

$fa-font-path: "~font-awesome/fonts";
@import "~font-awesome/scss/font-awesome";

#post,
#comment,
#reply,
.discussion-comments,
.text-editor,
.post-preview {
  img {
    height: auto;
    max-width: 100%;
  }
}

.text-staff-color {
  color: #998200;
}

.outline-staff-color {
  outline: #998200 solid 2px;
}

.text-TA-color {
  color: #175B3C;
}

.outline-TA-color {
  outline: #175B3C solid 2px;
}

.outline-anonymous {
  outline: #EAE6E5 solid 2px;
}

.font-size-14 {
  font-size: 14px;
}

.font-weight-500 {
  font-weight: 500;
}

.font-style-normal {
  font-style: normal;
}

.font-family-inter {
  font-family: "Inter";
}

.icon-size {
  height: 20px !important;
  width: 20px !important;
}

.mr-0\.5 {
  margin-right: 2px;
}

.mb-0\.5 {
  margin-bottom: 2px;
}

.mt-0\.5 {
  margin-top: 2px;
}

.ml-0\.5 {
  margin-left: 2px;
}

.badge-padding {
  padding-top: 1px;
  padding-bottom: 1px
}

.discussion-post:hover {
  background-color: unset !important;
}

.learner > a:hover {
  background-color: #F2F0EF;
}

.py-10px {
  padding-top: 10px;
  padding-bottom: 10px;
}

.px-10px {
  padding-left: 10px;
  padding-right: 10px;
}

.question-icon-size {
  width: 1.625rem;
  height: 1.625rem;
}

.question-icon-position {
  top: 12px;
  left: 14px;
}

.avarat-img-position {
  margin-top: 17px;
  margin-left: 17px;
}

header {
  .user-dropdown {
    z-index: 2005;
  }
  .logo {
    margin-right: 1rem;
    img {
      height: 1.75rem;
    }
  }
}

#learner-posts-link {
  color: inherit;
  span[role=heading]:hover {
    text-decoration: underline;
  }
}

.sidebar-desktop-width {
  min-width: 25rem;
}

.sidebar-XL-width {
  min-width: 29rem;
}

.filter-menu:focus-within {
  background-color: #e9e6e4 !important;
}

.border-2 {
  border-width: 2px;
}

.post-form {
  input[type=checkbox] {
    width: 18px;
    height: 18px;
  }
}

.pointer-cursor-hover :hover{
  cursor: pointer;
}

.filter-bar:focus-visible, .filter-bar:focus {
  outline: none;
}

header {
  line-height: 28px;
  font-family: Inter, Helvetica Neue, Arial, sans-serif;
  font-size: 18px;
  height: 60px;

  .user-dropdown {
    button {
      height: 44px !important;
      font-size: 18px;
      font-weight: 400;
      line-height: 28px;
    };

    span {
      font-weight: 500;
      line-height: 24px;
    };
  };

  .container-xl{
    .course-title-lockup {
      font-size: 1.125 rem;
    };

    .logo {
      margin-top: 2px;
    };
  };

  span:first-child {
    font-size: 14px;
    margin-top: 1px !important;
    margin-bottom: -1px !important;
  };
}

#courseTabsNavigation {
  font-size: 18px;
  font-family: Inter, Helvetica Neue, Arial, sans-serif;

  .container-xl {
    padding-left: 31px;
    font-size: 1.125 rem;

    .nav {
      line-height: 28px;
    }

    .nav-item {
      padding-bottom: 8px;
    }
  };
}

.min-content-height {
  min-height: 80vh;
}

.header-action-bar {
  background-color: #fff;
  z-index: 2002;
  box-shadow: 0px 2px 4px rgb(0 0 0 / 15%), 0px 2px 8px rgb(0 0 0 / 15%);
  position: sticky;
  top: 0;
}

.breadcrumb-menu {
  z-index: 1;
}

.discussion-topic-group:last-of-type .divider{
  display: none;
}

.zindex-5000 {
 z-index: 5000;
}

#paragon-portal-root .pgn__modal-layer {
  z-index: 1500 !important;
}

@media only screen and (max-width: 767px) {
  body:not(.tox-force-desktop) .tox .tox-dialog {
    align-self: center;
  }
}
