@import "@edx/brand/paragon/fonts.scss";
@import "@edx/brand/paragon/variables.scss";
@import "@edx/paragon/scss/core/core.scss";
@import "@edx/brand/paragon/overrides.scss";

@import "~@edx/frontend-component-footer/dist/footer";
@import "~@edx/frontend-component-header/dist/index";

$fa-font-path: "~font-awesome/fonts";
@import "~font-awesome/scss/font-awesome";

#post,
#comment,
#reply,
.discussion-comments,
.text-editor,
.post-preview {
  img {
    height: auto;
    max-width: 100%;
  }
}

.text-staff-color {
  color: #998200;
}

.outline-staff-color {
  outline: #998200 solid 2px;
}

.text-TA-color {
  color: #175B3C;
}

.outline-TA-color {
  outline: #175B3C solid 2px;
}

.outline-anonymous {
  outline: #EAE6E5 solid 2px;
}

.font-size-14 {
  font-size: 14px;
}

.font-weight-500 {
  font-weight: 500;
}

.font-style-normal {
  font-style: normal;
}

.font-family-inter {
  font-family: "Inter";
}

.icon-size {
  height: 20px !important;
  width: 20px !important;
}

.mr-0\.5 {
  margin-right: 2px;
}

.mb-0\.5 {
  margin-bottom: 2px;
}

.mt-0\.5 {
  margin-top: 2px;
}

.ml-0\.5 {
  margin-left: 2px;
}

.badge-padding {
  padding-top: 1px;
  padding-bottom: 1px
}

.discussion-post:hover {
  background-color: unset !important;
}

.learner > a:hover {
  background-color: #F2F0EF;
}

.py-10px {
  padding-top: 10px;
  padding-bottom: 10px;
}

.px-10px {
  padding-left: 10px;
  padding-right: 10px;
}

.question-icon-size {
  width: 1.625rem;
  height: 1.625rem;
}

.question-icon-position {
  top: 12px;
  left: 14px;
}

.avarat-img-position {
  margin-top: 17px;
  margin-left: 17px;
}

header {
  .user-dropdown {
    z-index: 2005;
  }
  .logo {
    margin-right: 1rem;
    img {
      height: 1.75rem;
    }
  }
}

#learner-posts-link {
  color: inherit;
  span[role=heading]:hover {
    text-decoration: underline;
  }
}

.sidebar-desktop-width {
  min-width: 25rem;
}

.sidebar-XL-width {
  min-width: 29rem;
}

.filter-menu:focus-within {
  background-color: #e9e6e4 !important;
}

.border-2 {
  border-width: 2px;
}

.post-form {
  input[type=checkbox] {
    width: 18px;
    height: 18px;
  }
}

.pointer-cursor-hover :hover{
  cursor: pointer;
}

.filter-bar:focus-visible, .filter-bar:focus {
  outline: none;
}

header {
  line-height: 28px;
  font-family: Inter, Helvetica Neue, Arial, sans-serif;
  font-size: 18px;
  // height: 60px;

  .user-dropdown {
    button {
      height: 44px !important;
      font-size: 18px;
      font-weight: 400;
      line-height: 28px;
    };

    span {
      font-weight: 500;
      line-height: 24px;
    };
  };

  .container-xl{
    .course-title-lockup {
      font-size: 1.125 rem;
    };

    .logo {
      margin-top: 2px;
    };
  };

  // span:first-child {
  //   font-size: 14px;
  //   margin-top: 1px !important;
  //   margin-bottom: -1px !important;
  // };
}

#courseTabsNavigation {
  font-size: 18px;
  font-family: Inter, Helvetica Neue, Arial, sans-serif;

  // .container-xl {
  //   padding-left: 31px;
  //   font-size: 1.125 rem;

  //   .nav {
  //     line-height: 28px;
  //   }

  //   .nav-item {
  //     padding-bottom: 8px;
  //   }
  // };
}

.min-content-height {
  min-height: 80vh;
}

.header-action-bar {
  background-color: #fff;
  z-index: 1;
  box-shadow: 0px 2px 4px rgb(0 0 0 / 15%), 0px 2px 8px rgb(0 0 0 / 15%);
  position: sticky;
  top: 61px;
}

.breadcrumb-menu {
  z-index: 1;
}

.discussion-topic-group:last-of-type .divider{
  display: none;
}

.zindex-5000 {
 z-index: 5000;
}

#paragon-portal-root .pgn__modal-layer {
  z-index: 1500 !important;
}

@media only screen and (max-width: 767px) {
  body:not(.tox-force-desktop) .tox .tox-dialog {
    align-self: center;
  }
}

.post-preview,
.discussion-comments {
  blockquote {
    border-left: 2px solid #ccc;
    margin-left: 1.5rem;
    padding-left: 1rem;
  }
}

// headerLearning

.learning-header {
  position: sticky;
  // top:0px;
  background-color: white;
  z-index: 250000;
  box-shadow: 0px 2px 4px -1px #0b0b0b0f, 0px 4px 6px -1px #0b0b0b1a;
}


// .learning-header .course-title-lockup span:first-child {
//   padding-bottom: 5px;
//   padding-top: 5px;
// }

// .learning-header .course-title-lockup span {
//   padding-bottom: 5px;
// }



// css course clone udacity

html:root {
  --chakra-space-16: 4rem;
  --chakra-transition-easing-ease-in: cubic-bezier(0.4, 0, 1, 1);
  --chakra-transition-duration-normal: 200ms;
  --chakra-zIndices-low: 1;
  --chakra-colors-white: #FFFFFF;
  --chakra-shadows-base: 0px 1px 2px 0px #0B0B0B0F,0px 1px 3px 0px #0B0B0B1A;
  --chakra-lineHeights-none: 100%;
  --chakra-fontSizes-md: 1rem;
  --chakra-sizes-12: 3rem;
  --chakra-colors-black: #0B0B0B;
  --chakra-space-2: 0.5rem;
  --chakra-colors-transparent: transparent;
  --chakra-sizes-full: 100%;
  --chakra-colors-gray-100: #F6F6F6;
  --chakra-radii-full: 9999px;
  --chakra-colors-gray-300: #C7C7C7;
  --chakra-shadows-lg: 0px 4px 6px -2px #0B0B0B0D,0px 10px 15px -3px #0B0B0B1A;
  
}

.css-19dz5pz{
  display: flex;
  flex-direction: column;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: var(--chakra-colors-gray-300);
  box-shadow: var(--chakra-shadows-lg);
  background: var(--chakra-colors-white);
  width: var(--chakra-sizes-full);
  height: var(--chakra-sizes-full);
  padding: 0px;

}


.css-1dntyew{
  display: none;
  flex-direction: column;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: var(--chakra-colors-gray-300);
  box-shadow: var(--chakra-shadows-lg);
  background: var(--chakra-colors-white);
  width: var(--chakra-sizes-full);
  height: var(--chakra-sizes-full);
  padding: 0px;
}

.css-16kvbm{
  right: -30.5rem;
  position: fixed;
  width: 30.5rem;
  top: var(--chakra-space-16);
  bottom: 0px;
  transition-timing-function: var(--chakra-transition-easing-ease-in);
  transition-duration: var(--chakra-transition-duration-normal);
  transition-property: left, right;
  z-index: var(--chakra-zIndices-low);
}




.css-1bljlat{
  right: 0px;
  position: fixed;
  width: 30.5rem;
  top: 4.2rem;
  bottom: 0px;
  transition-timing-function: var(--chakra-transition-easing-ease-in);
  transition-duration: var(--chakra-transition-duration-normal);
  transition-property: left, right;
  z-index: var(--chakra-zIndices-low);

}



.css-14u8e49{
  display: flex;
  flex-direction: column;
  margin-top: 0px;
  flex: 1 1 0%;
  padding-inline: 16rem 30.5rem;
  transition-timing-function: ease-in;
  transition-delay: 0s;
  transition-property: padding;
  transition-duration: var(--chakra-transition-duration-normal);
}



.css-1mjee9h{
  margin-top: 0px;
  flex: 1 1 0%;
  padding-inline: 0px 30.5rem;
  transition-timing-function: ease-in;
  transition-delay: 0s;
  transition-property: padding;
  transition-duration: var(--chakra-transition-duration-normal);
}




.css-jygthk {
  flex-direction: column;
  margin-top: 0px;
  flex: 1 1 0%;
  padding-inline: 16rem 0px;
  transition-timing-function: ease-in;
  transition-delay: 0s;
  transition-property: padding;
  transition-duration: var(--chakra-transition-duration-normal);
}


.css-11m367g {
  display: flex;
  flex-direction: column;
  flex: 1 1 0%;
  height: var(--chakra-sizes-full);
  background: var(--chakra-colors-gray-100);
  border-right-width: 1px;
  border-right-style: solid;
  border-color: var(--chakra-colors-gray-300);
}



.css-mtrik7 {
  position: absolute;
  left: calc(100% - 24px);
  z-index: var(--chakra-zIndices-low);
  background: var(--chakra-colors-white);
  transition: all 0.2s ease-in 0s;
  box-shadow: var(--chakra-shadows-base);
  transform: translateY(24px) rotate(180deg);
  border-radius: var(--chakra-radii-full);
}




.css-16e9fpx {
  left: 0px;
  position: fixed;
  width: 16rem;
  top: var(--chakra-space-16);
  bottom: 0px;
  transition-timing-function: var(--chakra-transition-easing-ease-in);
  transition-duration: var(--chakra-transition-duration-normal);
  transition-property: left, right;
  z-index: var(--chakra-zIndices-low);
}




.css-wc1vc9::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--chakra-colors-transparent);
  border-radius: var(--chakra-radii-base);
  border-width: 2px;
  border-style: solid;
  border-image: initial;
  border-color: var(--chakra-colors-transparent);
  transition: all 0.1s ease 0s;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}


.css-yeymkw {

  flex-direction: column;
  margin-top: 0px;
  flex: 1 1 0%;
  padding-inline: 0px;
  transition-timing-function: ease-in;
  transition-delay: 0s;
  transition-property: padding;
  transition-duration: var(--chakra-transition-duration-normal);
}

.css-17h1ao9 {
  left: -16rem;
  position: fixed;
  width: 16rem;
  top: var(--chakra-space-16);
  bottom: 0px;
  transition-timing-function: var(--chakra-transition-easing-ease-in);
  transition-duration: var(--chakra-transition-duration-normal);
  transition-property: left, right;
  z-index: var(--chakra-zIndices-low);


}


.css-dh1ib6 {
  position: absolute;
  left: calc(100% - 2px);
  z-index: var(--chakra-zIndices-low);
  background: var(--chakra-colors-white);
  transition: all 0.2s ease-in 0s;
  box-shadow: var(--chakra-shadows-base);
  transform: translateY(24px) rotate(0deg);
  border-radius: 0px 50% 50% 0px;
}


.css-wc1vc9 {
  display: inline-flex;
  appearance: none;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  user-select: none;
  position: relative;
  white-space-collapse: collapse;
  text-wrap: nowrap;
  vertical-align: middle;
  outline-offset: 2px;
  width: auto;
  line-height: var(--chakra-lineHeights-none);
  font-weight: 600;
  font-size: var(--chakra-fontSizes-md);
  height: var(--chakra-sizes-12);
  color: var(--chakra-colors-black);
  fill: rgb(32, 21, 255);
  box-shadow: rgb(32, 21, 255) 0px 0px 0px 2px inset;
  outline: transparent solid 2px;
  border-radius: 0px 50% 50% 0px;
  padding: var(--chakra-space-2);
  transition: all 0.2s ease 0s;
  border-color: currentcolor;
  background: var(--chakra-colors-transparent);
}


.css-1qz66c7 {
  display: none;
  flex-direction: column;
  flex: 1 1 0%;
  height: var(--chakra-sizes-full);
  background: var(--chakra-colors-gray-100);
  border-right-width: 1px;
  border-right-style: solid;
  border-color: var(--chakra-colors-gray-300);
}

.none {
  display: none !important;
}

.discussion-courses {
  &:hover{
    cursor: pointer;
  }
}

// css course clone udacity

html:root {
  --chakra-space-16: 4rem;
  --chakra-transition-easing-ease-in: cubic-bezier(0.4, 0, 1, 1);
  --chakra-transition-duration-normal: 200ms;
  --chakra-zIndices-low: 1;
  --chakra-colors-white: #ffffff;
  --chakra-shadows-base: 0px 1px 2px 0px #0b0b0b0f, 0px 1px 3px 0px #0b0b0b1a;
  --chakra-lineHeights-none: 100%;
  --chakra-fontSizes-md: 1rem;
  --chakra-sizes-12: 3rem;
  --chakra-colors-black: #0b0b0b;
  --chakra-space-2: 0.5rem;
  --chakra-colors-transparent: transparent;
  --chakra-sizes-full: 100%;
  --chakra-colors-gray-100: #f6f6f6;
  --chakra-radii-full: 9999px;
  --chakra-colors-gray-300: #c7c7c7;
  --chakra-shadows-lg: 0px 4px 6px -2px #0b0b0b0d, 0px 10px 15px -3px #0b0b0b1a;
  //extend
  //color
  --color-active: #007ae6;
  --color-hover: #025dae;
  --background-color-hover: #eef7ff;
  --color-white: #ffffff;
  --background-content: #fafbfb;
  --color-stroke: #d7d7d7;
  --color-disable: #c5c5c5;
  --color-text-inactive: #7b7b7b;
  --color-text-default: #2c3744;
  --color-notification-critical: #d82c0d;
  --color-warning: #ffb934;
  --color-success: #5aa447;
  --background-selected: #f1f2f3;
}






.header-2 {
  height: 1.875rem;
  flex-grow: 0;
  // font-family: Roboto;
  font-size: 1.25rem;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: var(--color-text-default);
}