@import "@edx/brand/paragon/fonts.scss";
@import "@edx/brand/paragon/variables.scss";
@import "@edx/paragon/scss/core/core.scss";
@import "@edx/brand/paragon/overrides.scss";

$fa-font-path: "~font-awesome/fonts";
@import "~font-awesome/scss/font-awesome";

#post,
#comment,
#reply,
.discussion-comments {
  img {
    height: auto;
    max-width: 100%;
  }
}

.text-staff-color {
  color: #998200;
}

.border-staff-color {
  border-color: #998200;
}

.border-anonymous {
  border-color: #F2F0EF;
}

.font-size-14 {
  font-size: 14px;
}

.font-weight-500 {
  font-weight: 500;
}

.font-style-normal {
  font-style: normal;
}

.font-family-inter {
  font-family: "Inter";
}

.icon-size {
  height: 20px !important;
  width: 20px !important;
}

.mr-0\.5 {
  margin-right: 2px;
}

.badge-padding {
  padding-top: 1px;
  padding-bottom: 1px
}

.discussion-post:hover {
  background-color: unset !important;
}

.learner > a:hover {
  background-color: #F2F0EF;
}
