#custom-footer {
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 1.5rem */
  padding: 2rem 0;
  .footer-container {
    margin: 0 auto;

    width: 67.25rem;
    display: grid;
    grid-template-columns: 3.5fr 1fr 1fr 1fr;
    align-items: start;
    gap: 2rem;

    .footer-section {
      .footer-section-logo {
        display: block;
        margin-right: 2.5rem;
        margin-bottom: 1rem;
      }

      display: flex;
      flex-direction: column;
      align-items: flex-start;

      .footer-section-location,
      .footer-section-email,
      .footer-section-phone {
        color: var(--color-text-default);
        font-feature-settings: "clig" off, "liga" off;
        // font-family: Roboto;
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        margin-bottom: 1rem;
        display: flex;
        align-items: center;
        column-gap: 0.5rem;
      }
      .footer-section-phone {
        margin-bottom: 0;
      }

      h3 {
        color: var(--color-text-default);
        font-feature-settings: "clig" off, "liga" off;

        // font-family: Roboto;
        font-size: 1.25rem;
        font-style: normal;
        font-weight: 600;
        line-height: 150%;
        margin-bottom: 0.5rem;
      }

      ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 0.5rem;

        li {
          & a {
            font-feature-settings: "clig" off, "liga" off;

            // font-family: Roboto;
            font-size: 1rem;
            font-style: normal;
            font-weight: 400;
            color: var(--color-text-default);
            text-decoration: none;
            transition: all 0.2s ease;
            &:hover {
              color: var(--color-hover);
              transition: all 0.2s ease;
            }
          }
        }
      }
    }
  }

  .footer-bottom {
    width: 67.25rem;
    margin: 0 auto;
    p {
      margin-top: 1.25rem;
      padding: 0;
      color: var(--color-text-default);
      font-feature-settings: "clig" off, "liga" off;

      // font-family: Roboto;
      font-size: 1rem;
      font-style: normal;
      font-weight: 400;
      line-height: 150%;
    }
  }
}
